@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply scrollbar-thumb-gray-500 scrollbar-thin scrollbar-none bg-white text-black;
  -webkit-font-smoothing: antialiased
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  
  #root, body, html {
    height: 100%;
    min-height: 100vh;
  }

  .h-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .balloon {
    border-radius: 0px 16px 16px 16px;
  }

  .balloon-user {
    border-radius: 16px 0 16px 16px;
  }

  .vh-height {
    height: calc(100vh - 320px);
  }

  .vh-height-border {
    height: calc(100vh - 70px);
  }

  .container {
    display: grid;
    grid-template-columns: 20rem auto;
  }

  @media (min-width: 1024px) {
    .vh-height {
      height: calc(100vh - 310px);
    }
  }

  @media (min-width: 1400px) {
    .container {
      display: grid;
      grid-template-columns: 20rem auto;
    }
  }

  .li {
    font-size: 15px;
    font-weight: medium;
  }

.li:hover {
    color: #3A35DF;
  }

  .modal-shadow {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.096);
  }

}