@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply scrollbar-thumb-gray-500 scrollbar-thin scrollbar-none bg-white text-black;
  -webkit-font-smoothing: antialiased
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  
  #root, body, html {
    height: 100%;
    min-height: 100vh;
  }

  .h-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .vh-height {
    height: calc(100vh - 320px);
  }

  .vh-height-border {
    height: calc(100vh - 70px);
  }

  .container {
    display: grid;
    grid-template-columns: 20rem auto;
  }

  @media (min-width: 1024px) {
    .vh-height {
      height: calc(100vh - 310px);
    }
  }

  @media (min-width: 1400px) {
    .container {
      display: grid;
      grid-template-columns: 20rem auto;
    }
  }

  .li {
    font-size: 15px;
    font-weight: medium;
  }

.li:hover {
    color: #413BDD;
  }

  .modal-shadow {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.096);
  }


  .msg-mine {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    marin-top: 1.5rem;
  }
  .msg-mine > div > span{
    order: 0;
    color: black;
  }

  .msg.mine > div > img{
    order: 1;
  }

  .msg-mine > div > p {
    background-color: #FCFCFC;
    border-radius: 16px 0 16px 16px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 12px;
    margin-right: 52px;
  }

  .msg-mine-skeleton {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    marin-top: 1.5rem;
  }
  .msg-mine-skeleton > div > span{
    order: 0;
    color: black;
  }

  .msg.mine-skeleton > div > img{
    order: 1;
  }

  .msg-mine-skeleton > div > p {
    background-color: #FCFCFC;
    border-radius: 16px 0 16px 16px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 12px;
    margin-right: 52px;
  }

  

  .msg-other {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    marin-top: 1.5rem;
  }
  .msg-other > div > span{
    order: 1;
    color: black;
  }

  .msg.other > div > img{
    order: 0;
  }

  .msg-other > div > p {
    background-color: white;
    border-radius: 0px 16px 16px 16px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 12px;
    margin-left: 52px;
  }

}